html, body {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.block {
  margin: 10px 10px 50px 10px;
  padding: 0 0 40px 0;
  border-bottom: 1px dashed #999;
}

.mly-seat {
  /*stroke: #f00*/
  cursor: pointer;
}

.mly-vote {
  font-family: arial;
}
.mly-name {
  font-size: 15px;
  cursor: pointer;
}

#nuke, #madcow {
  width: 900px; height:600px;
  margin: 0 auto 0 auto;
  padding: 10px;
  border: 1px solid #999;
  box-shadow: 0px 5px 8px #999;
  border-radius: 9px;
}
