!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width')
    title 立法委員投票結果
    link(rel="shortcut icon",href="favicon.ico")
    script(type="text/javascript",src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js")
    script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript",src="http://d3js.org/d3.v3.min.js")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="lyvote.js")
  body
    .block
      h3 民進黨團提案刪除核四101年度預算案結果
      #nuke.twlyvote.ad-8.session-2.sitting-13(data-mly-list="voter.json")
        span.approval 許忠信 蔡煌瑯 李俊俋 葉宜津 鄭麗君 林岱樺 黃文玲 薛凌 蔡其昌 張曉風 許智傑 吳秉叡 陳唐山 林世嘉 黃偉哲 柯建銘 陳其邁 高志鵬 林淑芬 陳亭妃 何欣純 潘孟安 魏明谷 趙天麟 劉櫂豪 林佳龍 楊曜 姚文智 李應元 劉建國 李昆澤 陳歐珀 邱志偉 管碧玲 陳節如 蘇震清 蕭美琴 段宜康 陳明文 吳宜臻 丁守中 許添財 邱議瑩 尤美女 田秋堇
        span.veto 曾巨威 林德福 王進士 李鴻鈞 賴士葆 蔡正元 黃昭順 鄭汝芬 江惠貞 蔡錦隆 陳碧涵 楊玉欣 吳育昇 楊瓊瓔 盧嘉辰 江啟臣 徐欣瑩 林國正 徐少萍 孫大千 林鴻池 翁重鈞 廖國棟 林滄敏 蘇清泉 李貴敏 費鴻泰 林明溱 謝國樑 陳超明 潘維剛 楊應雄 楊麗環 紀國棟 陳根德 陳鎮湘 詹凱臣 王廷升 盧秀燕 徐耀昌 孔文吉 王育敏 簡東明 陳淑慧 吳育仁 林郁方 張慶忠
        span.abstention 邱文彥
    .block
      h3 民進黨、親民黨、台灣團結聯盟黨團共同提案要求行政院暫停進口美國牛並下架結果
      #madcow.twlyvote.ad-8.session-1.sitting-9(data-mly-list="voter.json")
        span.approval 尤美女 田秋堇 何欣純 吳宜臻 吳秉叡 李昆澤 李俊俋 李桐豪 李應元 林世嘉 林正二 林佳龍 林岱樺 林淑芬 邱志偉 姚文智 柯建銘 段宜康 高志鵬 張曉風 許忠信 許智傑 陳其邁 陳明文 陳亭妃 陳唐山 陳節如 陳歐珀 黃文玲 黃偉哲 楊曜 葉宜津 管碧玲 趙天麟 劉建國 劉櫂豪 潘孟安 蔡其昌 蔡煌瑯 鄭麗君 蕭美琴 薛凌 魏明谷 蘇震清
        span.veto 孔文吉 王育敏 王金平 王進士 江啟臣 江惠貞 吳育仁 吳育昇 呂玉玲 呂學樟 李貴敏 李鴻鈞 林郁方 林國正 林德福 林鴻池 邱文彥 紀國棟 徐少萍 徐欣瑩 徐耀昌 張慶忠 陳淑慧 陳碧涵 陳學聖 陳鎮湘 曾巨威 費鴻泰 黃志雄 黃昭順 楊玉欣 楊應雄 詹凱臣 廖正井 廖國棟 潘維剛 蔡正元 蔡錦隆 蔣乃辛 鄭天財 盧嘉辰 賴士葆 謝國樑 簡東明 蘇清泉
        span.abstention
